.container{
    border: 1px solid;
    display: flex;
}
.opcoes{
    text-align: center;
    width: 50%;
    height: 70vh;
    border: 2px solid;
}
#resultado{
    border: 2px solid;
    width: 50%;
    text-align: center;
}
button{
    width: 50%;
    height: 30px;
   
}